  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Poppins:wght@200&family=Roboto+Slab:wght@400;500&display=swap');

  
h1{  
    color: purple;
      font-family: 'Alumni Sans Collegiate One', sans-serif;
}
h3{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    font-size: 1.3rem;
}
.owl-item {
    padding: 10px; /* Remove margin to control the gap between items */
}
.item {
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    text-align: center; /* Center the content */
}
.item img {
    max-width: 100%;
    height: auto;
}

